.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FCF5ED;
    color: #CE5A67;
  }
  
  .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icon {
    width: 24px; 
    height: 24px;
    color: #796f5e; 
  }

  .size-6 {
    width: 28px; 
    height: 28px;
  }
  
  .cart-button {
    color: #796f5e; 
  }
  
  .wishlist-button {
    color: #CE5A67;
  }
